#dropdown-content {
    right: 0;
}

.navbar ul li a:active {
    background: none;
    color: #000979;
}

.navbar ul li a {
    color: rgb(29, 29, 29);
    background: none;
    border-radius: 0px!important;
    border-bottom: 3px solid transparent;
}

.active {
    border-bottom: 3px solid #000979!important;
}


.nav-container {
    /* transition: background-color 2s; */
    transition: all .6s;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
} 